@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*----------------------------------Body------------------------------------------------------------*/
  
body{
  background-color: #ffffff;
  font-size: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Scroll*/
body::-webkit-scrollbar {
    width: 15px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #8c8c8c;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #515151;    
    border-radius: 15px;     
    border: 1px solid #b5b5b5; 
  }

/*---------------------------End--------------------------------------------------------------------*/

.texto{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.texto font{
    color: #765dd1;
}
.dark-mode .texto font{
    color: #a489ff;
}
.titulo{
  font-size: 80px;
	color: #A497cf; 
	font-family: satisfy;
}
.titulozinho{
  color: #765dd1;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dark-mode .titulozinho{
  color: #a489ff;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dark-mode p{
  color: #e0e0e0;
}

/*-------------------------------------Card----------------------------------------------------------*/

section .container .card .butao{
  background-color: #515151;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #765dd1;
  color: #ffffff;
  cursor: pointer;
}
.container .card{
  position: relative;
  width: 200px;
  height: 300px;
  background: rgba(255,255,255,0.05);
  margin: auto;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.dark-mode .container .card{
  position: relative;
  width: 200px;
  height: 300px;
  background: #1a1a1a;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.container .card .content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}
.container .card:hover .content{
  opacity: 1;
}
.container .card .caixa{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0,0,0,0.25);
}
.container .card .caixa img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caixinha h3 span{
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
/*----------------------------------------End---------------------------------------------------------------*/
/*-------------------------------------Portal---------------------------------------------------------------*/
.portal{
  position: relative;
}
.transition{
  position: absolute;
  top: 0px;
  left: 423px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.transition:hover{
  opacity: 1;
}
/*----------------------------------------End---------------------------------------------------------------*/
